/** 
 * @author Shiv Patel and Andrew Trinh
 * @date 2022, October 28
*/
html, body {
  height:100%;
  width:100%;
  margin: 0;
  background-image: url('background.webp');
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

h1{
  color: #905FD0;
  display: flex;
  align-self: center;
  align-content: center;
  font-size: 500%;
}

#container {
  height:80%;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self:center;
  position: relative;

  /* Font */
  font-size: 200%;
  color: #C5D2EF
}

.display{
  color:chartreuse;
}

.invisible{
  visibility: hidden;
}

.error{
  color:red;
}

#result{
  font-size: xx-large;
  margin-top: 2%;
  padding: 12px;
  border-radius: 40%;
  background-color: rgba(0, 0, 0, .7)
}

#stockSearch{
  width: 70%;
  height: 50%;
  background-color: #BEAFC2;
  color: #296066;
}

#submit{
  margin-left: 5%;
  width: 20%;
  height: 40%;
  background-color: #8155BA;
  color:#BEAFC2;
  border: none;
  border-radius: 30%;
}

#resources{
  display: flex;
  align-self: center;
  margin-bottom: 0.5%;
}

p{
  display: flex;
  align-self: center;
  color: #BEAFC2;
  background-color: rgba(0, 0, 0, .7);
}

a{
  margin-left: 8px;
  display: flex;
  align-self: center;
  color:#C5D2EF;
}